[submodule "game"]
	path = game
	url = https://github.com/piotrhajduga/firemark-single-spa-game.git
[submodule "header"]
	path = header
	url = https://github.com/piotrhajduga/firemark-single-spa-header.git
